<% content_for :page_title do %>
<%= @kommunity.name %> | Edit
<% end %>

<p class="text-center alert alert-warning">Estás editando un evento, los cambios se reflejarán inmediatamente para los visitantes del sitio web.</p>


<%= render 'form' %>